@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    
    background: linear-gradient(
        176deg,
        rgba(2,0,36,1) 0%,
        rgba(9,32,121,1) 19%,
        rgba(0,212,255,1) 100%
    );
    height:100vh;
}
.main{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.todoscreen{
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
}
.todoscreen >h2{
    font-weight: 600;
}
 